footer {
  box-sizing: border-box;
  padding: 1rem;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-s);
  border-bottom: solid 5px var(--yellow);
  background-color: var(--green);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
